<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644593342659-5gpl6nbd1jjq870a3ras46nesl38e38u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644593342659-5gpl6nbd1jjq870a3ras46nesl38e38u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>644593342659-3s14tjbc1dsp6i3i8jmsmuop78gfb7fq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2zZM1rvSE-fomXeDO31CcS-DvWuePK4U</string>
	<key>GCM_SENDER_ID</key>
	<string>644593342659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cats</string>
	<key>PROJECT_ID</key>
	<string>skilful-album-382617</string>
	<key>STORAGE_BUCKET</key>
	<string>skilful-album-382617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644593342659:ios:16f6ce7c98d0abca106a76</string>
</dict>
</plist>